.pageNums {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a8a8a8;
}
.pageNums:hover {
  cursor: pointer;
}
.selectedPage {
  color: #1b2a37;
}
.notAllowed {
  cursor: not-allowed;
}
