.tabs {
  position: absolute;
  /* width: 1422px; */
  max-width: 100%;
  height: 24px;
  left: 45px;
  right: 45px;
  top: 151px;
  border-bottom: 0.5px solid #a8a8a8;
}
.flexContainer {
  width: 102px;
  /* border: 1px solid black; */
  /* height: 2px; */
}
.texts {
  cursor: pointer;
  color: #a8a8a8;
  transition: all 0.3s ease;
}
.selectedItem {
  color: #1b2a37;
  border-bottom: 1.5px solid #696969;
}
